.bg-opacity-theme {
    background-color: var(--theme-opacity) !important;
}

.bg-theme {
    background-color: var(--theme) !important;
}

.bg-light-pink {
    background-color: var(--light-pink) !important;
}

.bg-light-purple {
    background-color: var(--light-purple) !important;
}

.bg-light-info {
    background-color: var(--light-info) !important;
}
